*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: darkgray;
    transition: 2s;
}
.navbar{
    position: relative;
}

.like_btn{
    padding: 5px 10px;
    background: #0080ff;
    font-size: 18px;
    border-radius: 5px;
    color: #e8efff;
    cursor: pointer;
    font-family: "open Sans" sans-serif;
}